body {
    /*margin-top: 40px;*/
    font-size: 14px;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}
.nav {
    border-bottom-style: solid;
    border-width: 2px;
    border-color: #c8a73b;
}
.dropdown-item:hover {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background-color:  #c8a73b;
}
.dropdown .btn-secondary{
    background-color: #c8a73b;
    color: black;
}
.dropdown-item:hover {
    background-color:  #c8a73b;
}

/*#external-events {*/
/*    position: fixed;*/
/*    left: 20px;*/
/*    top: 20px;*/
/*    width: 150px;*/
/*    padding: 0 10px;*/
/*    border: 1px solid #ccc;*/
/*    background: #eee;*/
/*    text-align: left;*/
/*}*/

/*#external-events h4 {*/
/*    font-size: 16px;*/
/*    margin-top: 0;*/
/*    padding-top: 1em;*/
/*}*/

/*#external-events .fc-event {*/
/*    margin: 3px 0;*/
/*    cursor: move;*/
/*}*/

/*#external-events p {*/
/*    margin: 1.5em 0;*/
/*    font-size: 11px;*/
/*    color: #666;*/
/*}*/

/*#external-events p input {*/
/*    margin: 0;*/
/*    vertical-align: middle;*/
/*}*/

#calendar-wrap {

}

#calendar {
    max-width: 1100px;
    margin: 0 auto;
}

.loading {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    opacity: 0.7;
    background-color: #fff;
    z-index: 99;
    justify-content: center;
    align-items: center;
}

.loading-image {
    position: absolute;
    z-index: 100;
}
